.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

body,
html {
    @extend .font-opensans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: $font-black;
}