// colors
$white: #FFFFFF;
$black: #000000;
$font-black: #414141;
$font-grey: #333333;
$search-icon-blue: #05549f;
$search-bg-blue: #f0f7fe;
$light-grey: #f6f6f6;
$grey: #dddddd;
$error: #f6303f;
$error-bg: #fff0f1;
$btn-blue: #05549f;
$success-text: #3c763d;
$success-bg: #dff0d8;
$success-border: #d6e9c6;
// others
$maxWidth: 800px;
// classes
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}