.container {
    background: $white;
    .wrapper {
        max-width: $maxWidth;
        margin: 0 auto;
        @media only screen and (max-width: 991px) and (min-width: 320px) {
            max-width: 100%;
            padding: 0 20px;
        }
    }
    header {
        margin-top: 30px;
        width: 100%;
        @include clearfix;
        .logo {
            float: left;
            .resp {
                display: none;
            }
            @media only screen and (max-width: 768px) and (min-width: 320px) {
                .desk {
                    display: none;
                }
                .resp {
                    display: block;
                }
            }
        }
        .search-container {
            float: right;
            position: relative;
            margin-top: 15px;
            .search {
                background: $search-bg-blue;
                width: 50px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;
                cursor: pointer;
                .fas {
                    color: $search-icon-blue;
                }
                input {
                    position: absolute;
                    right: 50px;
                    top: 0;
                    border: none;
                    background: $search-bg-blue;
                    color: $black;
                    font-size: 1rem;
                    height: 40px;
                    width: 0px;
                    visibility: hidden;
                    &:focus {
                        outline: none;
                    }
                }
                &.open {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    input {
                        width: 150px;
                        padding-left: 20px;
                        transition: all .5s;
                        visibility: visible;
                        border-top-left-radius: 3px;
                        border-bottom-left-radius: 3px;
                    }
                }
            }
        }
    }
    .signup-block {
        width: 400px;
        margin: 70px auto;
        border: 2px solid $light-grey;
        padding: 40px 50px;
        border-radius: 3px;
        text-align: center;
        @media only screen and (max-width: 480px) and (min-width: 320px) {
            width: 100%;
            padding: 20px 30px;
        }
        .title {
            font-size: 1.71rem;
            font-weight: 600;
            margin-bottom: 15px;
        }
        .sub-title {
            font-size: 1rem;
            color: $font-grey;
            margin-bottom: 62px;
        }
        .inp {
            position: relative;
            margin: auto;
            width: 300px;
            display: block;
            .error-msg {
                display: none;
            }
            .label {
                position: absolute;
                top: 15px;
                left: 20px;
                font-size: 1rem;
                transform-origin: 0 0;
                transition: all 0.2s ease;
                cursor: text;
                color: $grey;
            }
            input {
                -webkit-appearance: none;
                width: 100%;
                border: 0;
                height: 46px;
                border: 1px solid $light-grey;
                background: $white;
                border-radius: 3px;
                color: $font-black;
                transition: all 0.15s ease;
                font-size: 1rem;
                padding: 0 20px;
                box-shadow: none;
                &.margin {
                    margin-bottom: 30px;
                }
                &:focus {
                    background: none;
                    border: 1px solid $search-icon-blue;
                    outline: none;
                    color: $black;
                    transition: all 0.15s ease;
                    box-shadow: 0 0 4px rgba(5, 84, 159, 0.6);
                    &+span {
                        font-weight: 600;
                        font-style: italic;
                        color: $black;
                        transform: translateY(-35px) translateX(-20px) scale(1);
                    }
                }
                &:not(:placeholder-shown)+span {
                    color: $black;
                    transform: translateY(-35px) translateX(-20px) scale(1);
                }
            }
            &.error {
                .error-msg {
                    display: block;
                    position: absolute;
                    top: -22px;
                    right: 5px;
                    color: $error;
                    font-size: 0.86rem;
                    padding: 5px 20px;
                    background: $error-bg;
                }
                input {
                    border: 1px solid $error;
                }
            }
        }
        .sub-actions {
            margin: 25px 0;
            @include clearfix;
            .logged {
                float: left;
                .label-container {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    cursor: pointer;
                    font-size: 0.86rem;
                    user-select: none;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        &:checked~.tick {
                            background-color: $btn-blue;
                        }
                        &:checked~.tick:after {
                            display: block;
                        }
                    }
                    .label-text {
                        padding-top: 3px;
                    }
                }
                .tick {
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    top: -1px;
                    left: 0;
                    background-color: $btn-blue;
                    border-radius: 3px;
                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }
                }
                .label-container .tick:after {
                    left: 7px;
                    top: 4px;
                    width: 3px;
                    height: 8px;
                    border: solid $white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
            .forgot {
                float: right;
                margin-top: 1px;
                cursor: pointer;
                a {
                    font-size: 0.86rem;
                    color: $btn-blue;
                    text-decoration: none;
                }
            }
        }
        .sign-in-container {
            position: relative;
            .loading-container {
                position: absolute;
                top: 3px;
                right: 0;
                display: none;
                .lds-ring {
                    display: inline-block;
                    position: relative;
                    width: 64px;
                    height: 64px;
                }
                .lds-ring div {
                    box-sizing: border-box;
                    display: block;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    margin: 6px;
                    border: 4px solid $white;
                    border-radius: 50%;
                    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                    border-color: $white transparent transparent transparent;
                }
                .lds-ring div:nth-child(1) {
                    animation-delay: -0.45s;
                }
                .lds-ring div:nth-child(2) {
                    animation-delay: -0.3s;
                }
                .lds-ring div:nth-child(3) {
                    animation-delay: -0.15s;
                }
                @keyframes lds-ring {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
                &.show {
                    display: block;
                }
            }
            .sign-btn {
                background: $btn-blue;
                color: $white;
                font-size: 1.43rem;
                border-radius: 3px;
                padding: 15px 0;
                cursor: pointer;
                text-transform: uppercase;
                &.disabled {
                    pointer-events: none;
                }
                &:hover {
                    background: darken($btn-blue, 10%);
                }
            }
        }
        &.hide {
            display: none;
        }
    }
    .success-msg {
        display: none;
        color: $success-text;
        background-color: $success-bg;
        border-color: $success-border;
        font-size: 1rem;
        padding: 10px;
        text-align: center;
        margin-top: 80px;
        line-height: 1.25;
        &.show {
            display: block;
        }
    }
    .listing {
        margin: 70px 0;
        @include clearfix;
        li {
            float: left;
            margin-right: 70px;
            cursor: pointer;
            @media only screen and (max-width: 991px) and (min-width: 768px) {
                width: 33.3333%;
                margin-right: 0px;
            }
            @media only screen and (max-width: 768px) and (min-width: 320px) {
                width: 100%;
                margin-right: 0px;
                margin-bottom: 20px;
            }
            &:last-child {
                margin-right: 0;
                @media only screen and (max-width: 768px) and (min-width: 320px) {
                    margin-bottom: 0px;
                }
            }
            .product-block {
                width: 220px;
                margin: 0 auto;
                .product-img {
                    width: 220px;
                    height: 220px;
                    margin-bottom: 20px;
                }
                .product-name {
                    font-size: 1rem;
                    margin-bottom: 10px;
                }
                .product-price {
                    font-size: 1.29rem;
                    color: $black;
                    font-weight: 600;
                }
            }
        }
    }
}